<div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="row">
        <h1>{{tag}} Timeseries Report</h1>
        <br/>
        <h4>1. Which engines would you like to compare?</h4>
        <px-spinner ng-show="showEngineSpinner" size="50"></px-spinner>
        <form>
          <div class="col-sm-12 col-md-6 col-lg-4" ng-repeat="i in engines">
            <label class="checkbox-inline"><input type="checkbox" value="" ng-click="getEngineData(tag, i.engine)" ng-model="i.selected">{{i.engine}}</label>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">  
    <br/>
    <h4>2. Compare using the following timeseries graphs. <span class="badge" ng-show="badgeCount>0" ng-model="badgeCount">{{badgeCount}}</span></h4>
    <br/>
    <div class="col-sm-12 col-md-12 col-lg-12">
      <p>Aggregate of all engines.</p>
      <px-spinner ng-show="showGraphSpinner" size="50"></px-spinner>
      <px-vis-timeseries 
        class="ts-chart" 
        id="ts" 
        prevent-resize 
        width = "950" 
        height = "500" 
        register-location="side" 
        chart-horizontal-alignment="center" 
        chart-vertical-alignment="center" 
        margin='{"top":30,"bottom":60,"left":65,"right":65}' 
        enable-tooltip="true" 
        tooltip 
        include-all-series 
        selection-type="xAxis" 
        chart-data='{{tsDataValues}}' 
        x-axis-config='{"title": "Date"}' 
        y-axis-config='{"title": {"value"}}'>
    </div>
  </div>
  <div class="row">  
    <div class="col-sm-12 col-md-12 col-lg-12" ng-repeat="i in engines">
      <div ng-show="i.selected">
        <br/>
        <h5>{{i.engine}}</h5>
        <px-vis-timeseries 
          class="ts-chart" 
          id="ts" 
          prevent-resize 
          width = "950" 
          height = "500" 
          register-location="side" 
          chart-horizontal-alignment="center" 
          chart-vertical-alignment="center" 
          margin='{"top":30,"bottom":60,"left":65,"right":65}' 
          enable-tooltip="true" 
          tooltip 
          include-all-series 
          selection-type="xAxis" 
          chart-data='{{i.data}}' 
          x-axis-config='{"title": "Date"}' 
          y-axis-config='{"title": {"value"}}'>
      </div>
    </div>
  </div>
</div>